/* add home page styles here */
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

body {
    background-color: rgba(0, 0, 0, 0.04);

    --font: 'Patua One', cursive;
}

h1, h2 {
    font-family: var(--font);
    font-weight: normal;
}

.cover {
    width: 800px;
    height: 300px;
    background-image: url('../assets/twistypuzzles.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover h1 {
    padding: 30px 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    color: white;
    text-align: center;
    font-size: 3.5rem;
    padding: 80px 0;
}

h2 {
    border-bottom: 5px solid;
    width: 100%;
}

h3 {
    width: 100%;
    text-align: left;
}

strong {
    font-weight: bold;
}

.cube-type img {
    width: 100px;
}

.wrap {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

main {
    max-width: 800px;
    margin: 0;
    background-color: #fff;
    padding-bottom: 100px;
}

section {
    width: 100%;
    padding: 0 80px;
    margin: 0;
}

ol, ul {
	max-width: 600px;
}

p, h2, ol, ul {
    margin: 30px;
}

li {
    padding: 10px 16px;
}

.about-twisty-puzzles h2 {
    border-color: #ae4ec8;
    margin-top: 60px;
}

.cube-facts h2 {
    border-color: #2da055;
}

.types-of-twisty-puzzles h2 {
    border-color: #eb702c;
}

.cube-type {
    margin-bottom: 60px;
}

button {
    padding: 30px 60px;
    border-radius: 17px;
    border: none;
    background-color: #ae4ec8;
    border-bottom: solid 10px #6d397b;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
}

button:focus {
    outline: 0;
    background-color: #6d397b;
    border-bottom: solid 10px #402248;
}

#quiz-results-div {
    padding: 30px 0 0 0;
    font-size: 2rem;
}

.quiz-results-comment {
    display: none;
    margin-top: 20px;
}